extends layout

block content
    input#getChar(type="text" autocapitalize="off" autocorrect="off")
    #term(style="z-index:10") %> 
    //a(href="cts://com.cisco.cts?type=caseDetails&rma=86293527" style="z-index:200; position:relative") click me
    .clicker(onclick="focusOnHiddenInput()")
    
    
